@import "tailwindcss";
@config "../tailwind.config.js";


html {
  scrollbar-width: none; 
  -ms-overflow-style: none; 
   margin: 0;
  overscroll-behavior: none; 
}

html::-webkit-scrollbar {
  display: none; 
}

#infinite-grid-menu-canvas {
  background: transparent !important;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;   
}